* {
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
  font-size: 62.5%;
  background: #03346c;
  color: #fff;
}

body {
  width: 768px;
  margin: 5rem auto 0;
}

.header {
  font-size: 4.8rem;
  text-align: center;
}

.header--sub {
  font-size: 2.4rem;
  margin-bottom: 2.4rem;
}

.step {
  background: #5a8ab2;
  padding: 2.4rem;
  margin: 2.4rem;
}

.step__header {
  text-align: center;
  font-size: 2.4rem;
  margin-bottom: 2.4rem;
}

.step__header--sub {
  font-size: 1.6rem;
  margin-top: -1.6rem;
}

.step__chip-select {
  overflow: hidden;
}

.step__chip {
  box-sizing: border-box;
  width: 50%;
  padding: 1.6rem;
  float: left;
}

.chip__header {
  font-size: 1.6rem;
  text-align: center;
}

.chip__select {
  display: block;
  margin: 1.2rem auto;
}

#rom-file {
  display: none;
}

.step__button {
  background: #011e4f;
  padding: 1.2rem 2.4rem;
  font-size: 1.6rem;
  margin: 0 4.8rem;
  display: block;
  text-align: center;
  cursor: pointer;
}

.step__button:active {
  background: #001537;
}

.rom-info {
  width: 50%;
  margin: 2.4rem auto 0;
  font-size: 1.2rem;
}

.rom-info__title,
.rom-info__value {
  width: 50%;
  padding: 0.6rem;
}

.rom-info__title {
  text-align: right;
  font-weight: bold;
}